@media screen and (max-width:768px){
    #con1{
        margin-left: 27%;
    }
}
@media screen and (min-width:319px) and (max-width:426px){
    #con1{
        margin-left: auto;
        justify-content: center;
    }
}
#name{
    color:crimson;
}
.t1{
    color: darkorange;
}
h5{
    font-size: 1.5rem;
}
p{
    font-style: italic;
}