#header {
  width: 20%;
  background: rgb(2,0,36);
  background-color: blue;
  overflow: hidden;
}
.Main{
  padding: 10%;
  font-weight: 400;
  font-size: larger;
}
.home-container {
  margin-left: 10%; 
}
a{
  color: white;
  text-decoration: none;
}
.icons{
  display: flex;
  justify-content: space-around;
}
.ico{
  border: 2px solid black;
  padding: 15px;
  background-color: black;
  border-radius: 10px;
}
.ico a:hover{
  background-color:transparent;
  color: red;
}
@media screen and (max-width:768px) {
  .ico i{
    font-size: 16px;
  }
}
.b1 {
  font-size: 2rem !important;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  background-color: rgb(36, 36, 37) !important;
  color: rgb(234, 234, 234) !important;
  font-weight: 700;
  --tw-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #2e2e2f;
  --tw-shadow-colored: 10px 10px 19px var(--tw-shadow-color),
    -10px -10px 19px var(--tw-shadow-color);
  box-shadow: 0 0 #00000000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));

  
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
   
  );
  color: rgb(48, 38, 38) !important;
  text-indent:0px;
}
.cv {
  display: flex;

  justify-content: center;
  /* margin-top: 150px; */
  
}

.b1:active {
  scale: 0.72;
}

.b1:hover {
 transform: scale(1.1);
}
